@import "tailwindcss";

@theme {
  --color-primary-0: #98B4D0; /*  AZUL  */
  --color-primary-100: #DDE1C0; /*  CREMA  */
  --color-primary-300: #F3FBF4; /*  VERDE CLARO  */
  --color-primary-500: #878180; /*  CAFÉ  */
  --color-sereno-sage: #8aab96;
  --color-sereno-sage-light: #c8ddd0;
  --color-sereno-blue: #8da4b5;
  --color-sereno-beige: #c4ae8a;
  --color-sereno-sage-dark: #5f8a6f;
}